@model Kinoshka.Models.Entities.EditRoleRequest

@{
    ViewData["Title"] = "Edit role ";
}

<h2>Edit role @Model.Name</h2>

<div class="container">
    <form asp-controller="Roles" asp-action="EditRole" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-link" value="Save change"/>
        </div>
    </form>
</div>