@model IEnumerable<Kinoshka.Models.Entities.ApplicationRole>

<h2>Roles list</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <a asp-controller="Roles" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-link">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

<a asp-controller="Roles" asp-action="Create" class="btn btn-link">Add role</a>