@model IEnumerable<Kinoshka.Models.Entities.Project>

@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1 class="display-2">Welcom master</h1>
    <p class="display-4">
        Добро пожаловать на Kinoska.kz
    </p>
    <a class="btn btn-sm btn-link" asp-controller="Movie" asp-action="Index">GO</a>

</div>